<div class="radio-form" *ngIf="state">
  <form form action="/api/postfeature" method="post" name="featureForm">
    <div class="form-check form-check-inline radio-div">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="default" (click)="handleClick($event);">
        <label class="form-check-label" for="inlineRadio5">All</label>
    </div>
    <div class="form-check form-check-inline radio-div">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="crash" (click)="handleClick($event);">
        <label class="form-check-label" for="inlineRadio1">Crash Detection</label>
    </div>
    <div class="form-check form-check-inline radio-div">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="overspeed" (click)="handleClick($event);">
        <label class="form-check-label" for="inlineRadio2">Overspeeding</label>
    </div>
    <div class="form-check form-check-inline radio-div">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="trafficsignal" (click)="handleClick($event);">
        <label class="form-check-label" for="inlineRadio3">Traffic Signal Breakers</label>
    </div>
    <div class="form-check form-check-inline radio-div">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="pedestrian" (click)="handleClick($event);">
        <label class="form-check-label" for="inlineRadio4">Pedestrians</label>
    </div>
  </form>
</div>
