/* You can add global styles to this file, and also import other style files */
.canvas {
    border: 2px solid black;
}

.canvas-wrapper{
    display: inline-block;
}

.modal-body{
    text-align: center;
}